<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EE Progress Reporter - Loading...</title>
    <link href="../static/background/background.css" rel="stylesheet">
    <link href="../static/loading/loading.css" rel="stylesheet">
</head>
<body class = "output-color">
    <h1 class="center">Oops! Looks like something went wrong! Click <strong>Back</strong> to go back to the previous page and double check what you inputted!</h1>
    <div class = "load-non-center">
        <form action="uploadFiles">
            <input type = "submit" value = "Back">
        </form>
            <div  class="load-center">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
    <script src="../static/background/background.js"></script>
    <script src="../static/loading/loading.js"></script>
    <noscript>You need to enable JavaScript to view the full site.</noscript>
</body>
</html>